@media (max-width: 1023px) {
  .hero-video {
    object-fit: cover; /* Llena el contenedor, manteniendo la proporción 16:9 */
    object-position: center top;
    z-index: 1 !important;
  }

  #hero-gradient-overlay {
    z-index: 2 !important;
  }

  /* Desactiva el efecto de scroll pegajoso en móvil */
  #inicio {
    height: auto !important;
  }
  #hero-sticky-wrapper {
    position: static !important;
    height: auto !important;
  }

  /* Establece una altura para el contenedor del video y combina el video y el texto en una columna */
  #hero-inner-wrapper {
    display: flex;
    flex-direction: column;
    height: auto !important;
  }

  /* Crea un contenedor con proporción 16:9 para el video */
  #hero-inner-wrapper::before {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Proporción 16:9 (9 / 16 = 0.5625) */
    height: 0;
  }

  /* Mueve el video dentro del nuevo contenedor, forzándolo a llenarlo */
  .hero-video, #hero-gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important; /* Llena el contenedor con proporción 16:9 */
  }
  
  /* Reposiciona el contenedor del texto */
  #hero-content-container {
    position: static !important;
    transform: none !important;
    padding: 2.5rem 1rem; /* 40px 16px */
    z-index: 3 !important;
    /* El color de fondo coincide con el final del gradiente para una transición suave */
    background-color: #EDF0F5;
  }

  /* Ajusta el color de fondo para el modo oscuro */
  .dark #hero-content-container {
      background-color: #0d0d0d;
  }
}

.espectaculo-icon {
  max-width: 150px;
  margin: 0 auto;
  height: auto;
}



.dark .espectaculo-icon {

  filter: invert(1);

}



#galeria img {

  object-fit: cover;

}
